* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444444;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: grid;
  grid-template: .5fr 4fr .5fr / 1fr 3fr 1fr 3fr 1fr;
  min-height: 100vh;
}

.card-left,
.card-right {
  display: grid;
}

.card-left:hover {
  transform: scale(0.98);
}

.card-right:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.card-left {
  grid-area: 2 / 2 / 2 / 2;
  grid-template: 3fr 1fr 2fr 1fr / 1fr 1fr;
  transition: all .3s ease-out;
}

.card-right {
  grid-area: 2 / 4 / 2 / 4;
  grid-template: 1fr 3fr 2fr 1fr / 1fr 1fr;
  padding: 5% 10%;
  border: 1 px solid #efefef;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
}

.title-left {
  grid-area: 2 / 1 / 3 / 3;
  margin-top: 10px;
}


.title-right {
  grid-area: 1 / 1 / 1 / 3;
  text-align: center;
}

h1 {
  font-family: 'Crimson Text', serif;
  line-height: 1.2;
  font-size: 2.25rem;
}

.subtitle-left {
  color: #3b526f;
  font-size: 1.5rem;
}
.subtitle-right {
  color: #8a3030;
  font-size: 1.5rem;
}

.image-container-left,
.image-container-right {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.image-container-left {
  background-image: url(zagreb.jpg);
  grid-area: 1 / 1 / 2 / 3;
  border-radius: 6px;
}

.image-container-right {
  background-image: url(dubrovnik.jpg);
  grid-area: 2 / 1 / 2/ 3;
  margin-top: 10px;
}

.text-container-left,
.text-container-right {
  color: #666666;
  margin: 10px 0;
  font-size: 1.1rem;
}

.text-container-left {
  grid-area: 3 / 1 / 4 / 3;
}

.text-container-right {
  grid-area: 3 / 1 / 3 / 3;
}

.footer-left,
.footer-right {
  grid-area: 4 / 1 / 4 / 3;
  display: flex;
  /*grid-template: 1fr / 1fr 1fr;*/
  justify-content: space-between;
  border-top: 1px solid #efefef;
  padding: 30px 10px 0 10px;
}

.button-left,
.button-right {
  /*grid-area: 1 / 1 / 2 / 2;*/
  background-color: #8a3030;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .3s ease;
}

a {
  text-decoration: none;
}

.button-left a,
.button-right a {
  color: #ffffff;
}

.button-left {
  border-radius: 6px;
  background-color: #3b526f;
}

.button-left:hover {
  box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.4);
}

.button-right:hover {
  transform: scale(1.2);
}

.social-left,
.social-right {
  /*grid-area: 1 / 2 / 2 / 3;*/
  display: flex;
  flex-direction: column;
}

.fa {
  margin-right: .25rem;
}
